* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    background: black;
    backdrop-filter: none;
    overflow-x: hidden;
  }
  body.lock-scroll {
    overflow: hidden;
  }
  .hamburger-icon {
    position: absolute;
    z-index: 2;
    top: 5vh;
    left: 5vw;
    padding-bottom: 2vh;
    display: flex;
  }
  
  .hamburger-icon span {
    height: 3px;
    width: 35px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
  }
  
  #openmenu:checked~.menu-pane {
    left: -5vw;
    transform: translateX(-5vw);
  }
  
  #openmenu:checked~.body-text {
    display: none;
    backdrop-filter: blur(32px);
  }
  
  #openmenu:checked~.hamburger-icon span:nth-of-type(2) {
    opacity: 0;
  }
  
  #openmenu:checked~.hamburger-icon span:nth-of-type(3) {
    opacity: 1;
    transform: rotate(-45deg) translate(4px, -12px);
    background: #232323;
    height: 3px;
  }
  
  .hamburger-icon span:nth-of-type(3) {
    height: 4px;
  }
  
  #openmenu:checked~.hamburger-icon span:nth-of-type(1) {
    transform: rotate(45deg) translate(0, 8px);
    background-color: rgb(0, 0, 0);
  }
  
  
  div.menu-pane {
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-105vw);
    transform-origin: (0, 0);
    width: 50%;
    height: 100vh;
    transition: 0.6s ease-in-out;
    z-index: 1;
  }
  
  .menu-pane p {
    color: black;
    font-size: 3em;
  }
  
  .menu-pane nav {
    padding-left: 35%;
    padding-top: 8%;
  }
  
  .menu-links li,
  a,
  span {
    transition: 0.5s ease-in-out;
  }
  
  .menu-pane ul {
    padding: 10%;
    display: inline-block;
  }
  
  .menu-pane li {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 1.9em;
    text-decoration: none;
  }
  
  .menu-links li a {
    color: #101820;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  /*(.menu-links li:hover a {
    color: #ffffffbb;
    background-color: rgba(119, 119, 119, 0.623);
    border-radius: 20px;
    padding: 15px;
  } */
  
  .menu-links a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #17222e;
    border-radius: 20px;
    z-index: -1;
    transition: width 0.5s ease-in-out;
  }
  
  
  .menu-links>li:hover .submenu a {
    display: block;
    z-index: 2;
  }
  
  
  .menu-links a:hover {
    color: white;
  }
  
  .menu-links a:hover::after {
    width: 100%;
  }
  
  
  input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
  }
  .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -80px;
  }
  
  .imagem img {
    width: 380px;
    margin-top: -50px;
    height: 250px;
    z-index: -2;
  }
  .submenu {
    position: absolute;
    font-size: 0.5em;
    transform: translateY(-100px);
  
  }
  
  .submenu a {
    display: none;
    z-index: -1;
  }
  