body {
    margin: 0;
    font-family: "Poppins", sans-serif ;
    background-color: #f4f4f4;
}
.carousel {
    position: relative;
    width: 96%;
    height: 600px;
    overflow: hidden;
    margin: 90px 100px 0px 75px
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-control {
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
/* Estilo dos Indicadores */
.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 100%;
}
.indicator {
    height: 2px;
    width: 50px;
    background-color: #ffffff; /* Cor padrão dos indicadores */
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff5722; /* Cor do indicador ativo */
}
.text-content{
    text-align: center;
    line-height: 1.8;
    margin: 40px;
    margin-left: 70px;
}
.text-content h1{
    text-align: center;
    line-height: 1.8;
    font-size: 36px;
}
.text-content p{
    text-align: center;
    line-height: 1.8;
}
.button-central a{
    width: 250px;
    margin: 40px 0px 100px 0px;
    display: block;
    transform: translateX(20px);

}
.button-central{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
}
.container-destaques {
    display: flex;
    gap: 60px;
    max-width: 85vw;
    justify-content: center;
    margin-left: 130px;
    margin-right: auto;
  }

  .carousel-cars {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }

  #carousel1,
  #carousel3 {
    width: 85%;
    height: 400px;
    margin-top: 70px;
  }

  #carousel1 img,
  #carousel3 img {
    height: 200px;
  }

  .carousel-cars h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  .carousel-cars p{
    width: 85%;
    text-align: center;
    margin: auto;
  }

  #carousel2 {
    width: 100%;
    height: 550px;
  }

  #carousel2 img {
    height: 300px;
  }
  #carousel2 button{
    height: 70%;
    width: 7%;
  }
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-cars-item {
    min-width: 100%;
    /* Ajustado para 6 itens visíveis */
    text-align: center;
  }

  .carousel-cars-item img {
    width: 75%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: contain;
  }

  .carousel-buttons {
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    height: 10%;
  }

  .carousel-buttons button {
    background-color: rgb(255, 136, 0);
    padding-bottom: 30px;
    border: none;
    color: #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 8%;
    height: 90%;
  }

  .carousel-buttons button:hover {
    background-color: rgb(211, 102, 0);
  }

  .proximo {
    margin-right: 25px;
  }

  .anterior {
    margin-left: 6px;
  }

.buttons button{
    width: 100%;
}
.propaganda{
    background: url(img/aside.png) ;
    width: 73%;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://static.fontawesome.com/css/fontawesome-app.css");
@import url("https://pro.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://codepen.io/z-/pen/a8e37caf2a04602ea5815e5acedab458.scss?theme");
@import url("https://pro.fontawesome.com/releases/v5.11.2/css/all.css");

:root {
    --user-button-circle: rgba(0, 0, 0, 0.025);
    --user-button-cardborder: rgba(255, 255, 255, 0.25);
    --user-button-text: #323133;
    --user-button-shadow: rgba(0, 0, 0, 0.1);
}

body #user-button {
    z-index: 1000;
    bottom: 1rem !important;
    right: 1rem !important;
    color: var(--user-button-text);
    transition: 1s 0s ease-out;
    animation: slide 3s ease-out forwards;
}

@keyframes slide {

    0%,
    50% {
        opacity: 0;
        display: block !important;
    }

    100% {
        opacity: 1;
        display: block !important;
    }
}

body #user-button .u-card {
    border-radius: 100%;
    box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}

body #user-button .u-main {
    cursor: pointer;
    --user-button-background: var(--user-button-main, #EC87C0);
}

body #user-button .u-main img {
    height: 100%;
    width: 100%;
}


body #user-button .u-icons a.u-random:not(:hover) div {
    animation-play-state: paused;
}
.container-touch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 100px;
    transition: 0.25s;
}
body .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 1300px;
    width: calc(100% - 100px);
    height: 400px;
}

@media screen and (max-width: 718px) {
    body .options {
        min-width: 520px;
    }

    body .options .option:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 638px) {
    body .options {
        min-width: 440px;
    }

    body .options .option:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 558px) {
    body .options {
        min-width: 360px;
    }

    body .options .option:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 478px) {
    body .options {
        min-width: 280px;
    }

    body .options .option:nth-child(2) {
        display: none;
    }
}

body .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    max-width: 100px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

body .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 1100px;
    margin: 20px;
    border-radius: 40px;
    background-size: cover;
    /*&:active {
 transform:scale(0.9);
}*/
}

body .options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

body .options .option.active .label {
    bottom: 20px;
    left: 20px;
}

body .options .option.active .label .info>div {
    left: 0px;
    opacity: 1;
}

body .options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

body .options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

body .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

body .options .option:not(.active) .label .info>div {
    left: 20px;
    opacity: 0;
}

body .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

body .options .option .label .info>div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

body .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
}

body .options .option .label .info .sub {
    transition-delay: 0.1s;
}
.content-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.content-img{
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: -10;
    width: 28%;
    height: 100%;
    transition: 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-img ul{
    list-style: none;
    color: white;
    font-size: 1.3rem;
    display: grid;
    gap: 1.7rem;
    padding: 20px;
    
}
.tittle-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 61%;
}
.container-vantagens {
    color: #000000;
    padding: 50px;
    margin: 60px 130px 0px 130px;
}
.container-vantagens h1 {
    font-size: 2em;
    margin-bottom: 50px;
    margin-left: 50px;
}
.advantages {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.advantage {
    width: 20%;
    padding: 20px;
}
.advantage i {
    font-size: 3em;
    color: orange;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.advantage h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.advantage p {
    font-size: 0.9em;
    margin-bottom: 20px;
}
