body {
    margin: 0;
    font-family: Arial, sans-serif;
}
 
/* 3 barras do menu lateral */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 1000,
  'GRAD' 100,
  'opsz' 100
}


header {
    position: sticky;
    top: 0;
}
 
#menu-toggle {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /*deixa o botão de 3 barras acima do menu*/
    border-radius: 10px;
}
#menu-toggle:hover {
    background-color: #ccc;
}
 
#sidebar {
    width: 80px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    overflow: hidden;
    background-color: #fff;
}
 
#sidebar.active {
    width: 200px;
    height: 90vh;
    margin-top: 70px;
    background-color: #fff;
}

.cabecalho, .logo .entrar .barra {
    position: sticky;
    top: 0;
}
.cabecalho{
    background-color: #fff;
    color: #333;
    width: 100%;
    z-index: 1;
    display: flex;
    border-bottom: 3px solid #b9b1b1;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s; /*Suaviza a animção*/
}

 
.logo{
    width: 150px;
    height: 70px;
    background: url(img/Captura\ de\ tela\ 2024-10-29\ 154053.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 90px;
    margin-top: 12px
 
}
.entrar{
    margin: 15px 50px 0px 0px;
    width: 100px;    
    border: solid black 1px;
    border-radius: 5px;
    height: 50px;
    background-color: #fff;
    color: #333;   
}
.entrar:hover{
    background-color: #e2d9d9d8;
    color: white;
}
.entrar img{
    width: 30%;
    height: 50%;
    padding-top: 13px;
}
.entrar button{
    background-color: transparent;
    border: none;
    height: 10%;
    width: 10%;
    font-size: 15px;
    transform: translateY(-8px);

}

/* .entrar button:hover{
    background-color: black;
    color: white;
} */


#sidebar {
    border-right: 3px solid #b9b1b1;
   transform: translateY(12px);

}

 
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
 
#sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
#sidebar ul li a{
    text-decoration: none;
    display: flex;
}
 
#sidebar ul li img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
 
#sidebar ul li span {
    display: none;
    font-size: 16px;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
 
#sidebar.active ul li span{
    display: inline;
    text-decoration: none;
    text-align: center;
}

 
#sidebar.active #logo {
    display: block;
}
 
#sidebar.active #entrar {
    display: block;
}
.banner{
    width: 95vw;
    background: url();
    background-color: black;
    height: 2000px;
    position: absolute;
    right: 0;
    top: 85px;
    z-index: -1;
}
