
/* Estilo global */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #161616;
}

/* Contêiner do formulário */
.form-container {
    width: 100%;
    height: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Para organizar os elementos em coluna */
    align-items: center;    /* Centraliza horizontalmente os elementos */
}

.form-container img{
    width: 30%;
    height: 32%;
    z-index: -1;
    filter: brightness(0.7);
    position: absolute;
    border-radius: 20px;
}

.form-container form{
    padding-top: 15px;
    max-width: 400px;
}

.error-email{
    color: red;
    margin-top: 20px;
}

/* Título */
h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
    margin-left: 30px;
}

input[type="password"] {
    width: 330px;
    max-width: 400px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    text-align: center;
    margin-left: 30px;
}

input[type="password"]:focus {
    border-color: #ff9100;
    outline: none;
}

/* Botão de envio */
.submit-btn {
    /* width: 100%; */
    width: 330px;
    /* max-width: 200px; */
    margin: auto;
    padding: 12px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #ff9100;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #dd8500;
}

/* Mensagens */
#mensagem {
    margin-top: 15px;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    text-align: center;
}

.mensagem-sucesso {
    background-color: #dff0d8;
    color: #3c763d;
}

.mensagem-erro {
    background-color: #f2dede;
    color: #a94442;
    width: 195px;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    input[type="password"], .submit-btn {
        font-size: 14px;
    }
}

.textContent{
    margin-top: 5px;
}

form{
    display: grid;
    gap: 10px;
}
