:root {
  --alert: #ff6a96;
  --greyLight-1: #e0ecf7;
  --greyLight-2: #c8dbf0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03rem;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  width: 74.8rem;
  height: 48rem;
  border-radius: 0.8rem;
  background: #ffffff;
  display: grid;
  grid-template-columns: 32rem 24.8rem;
  padding: 4rem 6rem;
  grid-gap: 6rem;
  align-items: center;
  position: relative;
  margin-right: 100px;
  overflow: hidden;
  box-shadow: -0.4rem 0.4rem 1.4rem rgba(241, 157, 1, 0.87);
}

.payment__dots {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
}
.payment__shadow-dots {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  width: 6.5rem;
  height: 11.5rem;
  background: linear-gradient(to bottom, #e0ecf700 0%, #ffffff 100%);
  z-index: 200;
}

.card {
  grid-column: 1/2;
  width: 32rem;
  height: 20rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2rem;
  align-items: center;
  color: #ffffff;
  background: rgb(255, 115, 0);
  box-shadow: -0.4rem 0.4rem 1.2rem rgba(241, 157, 1, 0.87);
  border: 0.2px solid #ffffff;
  z-index: 200;
  position: relative;
}

.card__visa {
  justify-self: flex-end;
  grid-column: 2/3;
  overflow: hidden;
  width: 5.5rem;
}

.card__number {
  font-family: "Roboto Mono", monospace;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
}

.card__name {
  grid-row: 3/4;
}

.card__name h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  font-weight: 300;
}

.card__name p {
  font-size: 1.4rem;
}

.card__expiry {
  grid-row: 3/4;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card__expiry h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  font-weight: 300;
}

.card__expiry p {
  font-size: 1.4rem;
}

.form {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 11rem);
  grid-template-rows: repeat(5, min-content);
  grid-column-gap: 2.8rem;
  grid-row-gap: 1.2rem;
  color: var(--greyDark-2);
}

.form h2 {
  font-size: 2rem;
  grid-column: 1/3;
  line-height: 1;
  margin-bottom: 1.4rem;
  font-family: "Inter", sans-serif;
  color: #000;
}
input[type="email"], input[type="password"]{
  /* height: 40px; */
  width: 100%;
  
}
#cvv{
  height: 40px;
  margin-bottom: 0px;
}

.form__detail {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-bottom: 0.6rem;
  color: var(--greyDark-1);
}

.form__name {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: stretch;
}

.form__number {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: stretch;
}

.form__expiry {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 120px;
}

.form__cvv {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: flex-end;
  width: 100%;
}

.form__cvv input[type=checkbox] {
  display: none;
}

.form__cvv .info {
  top: -0.4rem;
  left: 2.4rem;
  color: var(--greyDark-1);
}

.form__btn {
  grid-column: 1/3;
  grid-row: 5/6;
  height: 3.8rem;
  border-radius: 0.6rem;
  border: none;
  background: rgba(241, 157, 1, 0.87);
  color: #ffffff;
  justify-self: stretch;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

.form__btn:focus {
  outline: none;
}

.form__btn:hover {
  background: rgb(230, 150, 1);
}

.form ion-icon {
  position: absolute;
  font-size: 2rem;
  top: 3.4rem;
  margin-left: 1rem;
  color: rgb(250, 112, 0);
  stroke: var(--primary);
  margin-top: 3px;
}

.form label {
  pointer-events: none;
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
  line-height: 1;
  color: var(--greyDark-1);
}

.form input {
  padding: 1rem 1rem 1rem 4rem;
  border: none;
  background: transparent;
  border-radius: 0.6rem;
  border: 1px solid var(--greyLight-2);
  color: var(--greyDark-2);
  font-family: inherit;
  font-size: 1.4rem;
}

.form input::placeholder {
  color: var(--greyLight-1);
  font-size: inherit;
  letter-spacing: 0.12rem;
}

.form input:focus {
  outline: none;
}

.form input:hover {
  border: 1px solid var(--primary-light);
}
#button-payment{
  width: 65%;
}
.alert {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--alert);
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  opacity: 0;
}

.alert svg {
  margin-right: 0.4rem;
}



.cart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 48rem;
  overflow: hidden;
  box-shadow: -0.6rem 0.6rem 1.8rem #4f46f83d;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.cart-header h2 {
  font-size: 2rem;
  grid-column: 1/3;
  line-height: 1;
  margin-bottom: 1.4rem;
  font-family: "Inter", sans-serif;
}


.cart-item {
  background-color: #eeebeb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-height: 200px;
}

.cart-item:last-child {
  margin-bottom: 0;
}

.cart-item h3 {
  margin: 0;
  font-size: 14px;
  min-width: 247px;
}

.cart-item p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #818080;
}

.cart-item .price {
  float: right;
  font-weight: bold;
  color: #32cd32;
}

.promo-code {
  color: #000;
}

.promo-code .price {
  color: #32cd32;
}

.total {
  margin-top: 115px;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  color: #000;
}
.total span{
  color: #32cd32;
}

.promo-input {
  display: flex;
  margin-top: 20px;
}

.promo-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.8rem 0 0 0.8rem; 
  background: rgb(255, 115, 0);
  color: #ffffff;
}
.promo-input input:hover {
  background: rgb(230, 150, 1);
}

.promo-input input:focus {
  outline: none;
  border: 1px solid var(--primary-light);
}
.promo-input input::placeholder {
  color: #ffffff;
}

.promo-input button {
  padding: 10px;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: #888;
  color: #ffffff;
  cursor: pointer;
}

.promo-input button:hover {
  background-color: #777;
}
#desconto {
  margin: 10px 0;
  background: #e7fbe7;
  border: 1px solid #b3e6b3;
  border-radius: 5px;
  padding: 10px;
  display: none;
}
.container-descont{
  position: absolute;
  top: 52%;
}