/* Estilo para o corpo da página */
body {
    background-color: #f0f0f0;  /* Define a cor de fundo da página */
    flex-direction: column;  /* Organiza os elementos em uma coluna */
    align-items: center;  /* Alinha os itens no centro horizontalmente */
    height: 100vh;  /* Define a altura do corpo como 100% da altura da janela de visualização */
    margin: 0;  /* Remove as margens padrões do corpo */
    justify-content: flex-start;  /* Alinha o conteúdo no topo da tela */
    font-family: "Poppins", sans-serif;  /* Define a fonte para o corpo da página */
}

/* Estilos para o contêiner de botões */
.button-container {
    flex-wrap: wrap;  /* Permite que os itens quebrem para a próxima linha quando necessário */
    justify-content: space-around;  /* Distribui os itens de forma uniforme, com espaço entre eles */
    margin: 150px 200px 30px 200px;  /* Define as margens do contêiner */
    width: 80%;  /* Define a largura do contêiner como 80% da largura da página */
    display: grid;  /* Define um layout de grid para os itens dentro do contêiner */
    grid-template-columns: repeat(6, 1fr);  /* Cria 6 colunas de tamanho igual */
    gap: 10px;  /* Define o espaçamento entre os itens da grid */
}

/* Estilos para os botões dentro do contêiner */
.brand-button {
    flex: 0 1 calc(25% - 20px);  /* Define o tamanho flexível dos botões (25% do contêiner com espaço entre eles) */
    box-sizing: border-box;  /* Inclui a borda e o padding no cálculo da largura e altura do elemento */
    margin: 10px;  /* Define a margem ao redor de cada botão */
    padding: 20px 30px;  /* Define o padding dentro do botão */
    display: inline-flex;  /* Exibe os botões como elementos inline, mas com flexbox */
    align-items: center;  /* Alinha os itens dentro do botão verticalmente ao centro */
    justify-content: center;  /* Alinha os itens dentro do botão horizontalmente ao centro */
    cursor: pointer;  /* Muda o cursor para o estilo de ponteiro quando o mouse está sobre o botão */
    width: 80px;  /* Define a largura do botão */
    height: 60px;  /* Define a altura do botão */
    border-color: black;  /* Define a cor da borda como preta */
    border-radius: 10px;  /* Define bordas arredondadas */
    background-color: white;  /* Define a cor de fundo do botão */
    color: black;  /* Define a cor do texto como preta */
    font-size: 22px;  /* Define o tamanho da fonte como 22px */
    transition: background-color 0.3s, transform 0.2s, color 0.2s;  /* Adiciona transições suaves para mudanças de cor e transformação */
    width: 100%;  /* Faz o botão ocupar 100% da largura disponível */
    font-family: "Poppins", sans-serif;  /* Define a fonte do botão */
}
#sidebar{
    transform: translateY(24px);
}
/* Estilos para as imagens dentro dos botões */
.brand-button img {
    width: 55px;  /* Define a largura da imagem dentro do botão */
    height: 55px;  /* Define a altura da imagem dentro do botão */
    margin-right: 15px;  /* Adiciona um espaço à direita da imagem */
    transition: filter 0.2s;  /* Adiciona uma transição suave para o filtro da imagem */
}
#buttons {
    width: 180px ;
}

/* Estilo quando o botão é hover (passar o mouse sobre) */
.brand-button:hover {
    background-color: rgba(220, 143, 0, 0.909);  /* Muda a cor de fundo do botão */
    transform: scale(1.05);  /* Aumenta o botão ligeiramente */
    color: white;  /* Muda a cor do texto para branco */
}

/* Estilo quando o botão tem a classe 'active' (botão ativo) */
.brand-button.active {
    background-color: rgba(220, 143, 0, 0.909);  /* Define a cor de fundo do botão ativo */
    transform: scale(1.05);  /* Mantém o efeito de aumento do botão */
}

/* Estilos para os contêineres de cards */
.card-container {
    width: 90%;  /* Define a largura do contêiner dos cards como 90% da largura da página */
}
#desconto{
    text-decoration: line-through; /* Adiciona um risco sobre o preço original */
}
#diaria{
    color: green;
    font: 8px;
}

/* Estilos para cada card */
.card {
    display: flex;  /* Exibe o card com layout flexbox */
    border: 1px solid #ccc;  /* Define uma borda de cor cinza clara */
    padding: 20px;  /* Define o padding dentro do card */
    margin: 10px 0px 10px 400px;  /* Define a margem ao redor do card */
    border-radius: 10px;  /* Bordas arredondadas no card */
    background-color: #fff;  /* Define a cor de fundo como branca */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra suave ao card */
    transition: transform 0.2s;  /* Adiciona uma transição suave ao transformar o card */
    align-items: center;  /* Alinha os itens do card no centro verticalmente */
    height: 170px;  /* Define a altura do card */
    width: 1100px;  /* Define a largura do card */
}

/* Estilo do card quando passa o mouse sobre ele */
.card:hover {
    border: 1px solid black;  /* Define uma borda preta ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Aumenta a sombra ao passar o mouse */
}

/* Estilos para a imagem dentro do card */
.card img {
    width: 230px;  /* Define a largura da imagem no card */
    height: 125px;  /* Define a altura da imagem no card */
    border-radius: 10px;  /* Bordas arredondadas na imagem */
    margin-right: 20px;  /* Adiciona uma margem à direita da imagem */
    background-position: center center;  /* Centraliza a imagem */
    object-fit: cover;  /* Ajusta a imagem para cobrir o espaço da área definida */
}

/* Estilos para a seção de informações dentro do card */
.card-info {
    flex: 1;  /* Faz o conteúdo ocupar todo o espaço disponível */
    border-right: #ccc solid 2px;  /* Adiciona uma borda à direita da seção de informações */
    padding-right: 10px;  /* Adiciona padding à direita */
    height: 100%;  /* Define a altura como 100% do card */
}

/* Estilo para os parágrafos dentro de 'card-info' */
.card-info p {
    font-size: large;  /* Define o tamanho da fonte como grande */
    margin-top: 5px;  /* Adiciona margem superior */
    font-family: "Poppins", sans-serif;  /* Define a fonte como 'Poppins' */
}

/* Estilos para a seção de preço dentro do card */
.card-price {
    text-align: right;  /* Alinha o texto à direita */
    margin-left: 20px;  /* Adiciona margem à esquerda */
}

/* Estilo para o parágrafo dentro de 'card-price' */
.card-price p {
    margin: 0;  /* Remove a margem do parágrafo */
    font-size: 1.3em;  /* Define o tamanho da fonte como 1.3 vezes o tamanho normal */
    color: #333;  /* Define a cor do texto como um tom de cinza escuro */
    font-family: "Poppins", sans-serif;  /* Define a fonte como 'Poppins' */
}

/* Estilos para o botão dentro do card */
.card button {
    margin-top: 10px;  /* Adiciona uma margem no topo do botão */
    padding: 10px 20px;  /* Define o padding dentro do botão */
    cursor: pointer;  /* Muda o cursor para ponteiro ao passar o mouse */
    width: 150px;  /* Define a largura do botão */
}

/* Estilo do botão quando passa o mouse sobre ele */
.card button:hover {
    background-color: darkorange;  /* Muda a cor de fundo para laranja escuro ao passar o mouse */
}

/* Estilos para os cards de Black Friday */
.card.black-friday { 
    background-color: rgb(41, 41, 41);  /* Define a cor de fundo do card para um cinza escuro */
    color: white;  /* Define a cor do texto como branca */
}

.card.black-friday .card-price p {
    color: #fff;  /* Muda a cor do preço para branco nos cards de Black Friday */
}

/* Estilos para os elementos 'none-wallet' */
.none-wallet {
    width: 99vw;  /* Define a largura como 99% da largura da janela */
    height: fit-content;  /* Define a altura como conteúdo ajustável */
    display: flex;  /* Exibe os itens dentro do contêiner como flexbox */
    flex-direction: column;  /* Organiza os itens em uma coluna */
    align-items: center;  /* Alinha os itens no centro horizontalmente */
    gap: 25px;  /* Adiciona espaçamento entre os itens */
    margin-bottom: 50px;  /* Adiciona margem inferior */
}

/* Estilos para o título dentro de 'none-wallet' */
.none-wallet h3 {
    font-size: 3.5rem;  /* Define o tamanho da fonte como 3.5 rem */
    color: var(--Black);  /* Define a cor do texto como a cor definida pela variável '--Black' */
}

/* Estilos para o parágrafo dentro de 'none-wallet' */
.none-wallet p {
    font-size: 1.6rem;  /* Define o tamanho da fonte como 1.6 rem */
}

/* Estilos para a imagem dentro de 'none-wallet' */
.none-wallet img {
    height: 450px;  /* Define a altura da imagem */
    width: 30vw;  /* Define a largura da imagem como 30% da largura da janela */
    opacity: 50%;  /* Define a opacidade da imagem para 50% */
    margin-top: 25px;  /* Adiciona margem superior */
}
