body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #d87314;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 20px;
    color: #fff;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-content div {
    width: 48%;
    margin-bottom: 20px;
}

.banner {
    position: relative;
    /* Define o contêiner como relativo para permitir o posicionamento absoluto do texto */
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* Impede que elementos excedam o contêiner */
    background: url('./img/banner.jpg') no-repeat center center;
}


.text-title {
    margin-top: 200px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3.7rem;
    font-weight: 50;
    text-align: center;
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin-left: 75px;
}

.title-conheca {
    text-align: center;
    color: black;
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 2.2rem;
    margin-left: 75px;
}

.text-conheca {
    text-align: center;
    color: black;
    font-family: Roboto;
    margin-bottom: 40px;
    width: 55%;
    margin-left: 475px;
    line-height: 35px;
}

.icons img {
    width: 100px;
    height: 100px;
    margin-left: 105px;
}

.icons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    width: 65vw;
    padding: 20px;

}

.title-icon {
    color: black;
    padding: 15px;
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 105px;
}



.sep-color {
    background-color: #e2e0e0;
    padding-top: 20px;
    /* max-height: 600px; */
    margin-top: 50PX;
    width: 70%;
    margin-left: 320px;
    margin-bottom: 25px;
    border-radius: 25px;
}

.title-text {
    color: black;
}

.text-mvv {
    color: black;
    font-family: Roboto;

}

.values{
    max-width: 350px;
}


#valores {
    margin-left: 105px;
}

#missao {
    margin-left: -70px;
}





/* .video{
            background-color: #d87314;
            width: 100%;
            height: 400px;
            margin-top: 30px;
            display: flex;
        } */

.image {
    width: 100%;
    height: 500px;
    background-color: #ec821f;
    display: flex;
}

.title-image {
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.3rem;

    padding-left: 280px;
    padding-top: 145px;

}

.img-viagem {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 330px;
    margin-right: 220px;
    border-radius: 10px;
}

video {
    width: 70%;
    height: 60%;
    object-fit: cover;
    margin-left: 17%;
    margin-top: 40px;
}

.register-section ul li {
    margin-bottom: 10px;
    text-align: start;
}

.esqueci {
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: start;
}

#duvidas-button {
    margin-right: 215px;
}

#visao23{
    margin-left: 115px;
}